## Linkedin.com

In [1]:
import pandas as pd
from cleaner import *

df_linkedin = cleaner("..\offres_linkedin.csv") 
df_linkedin.head()

,Titre,Entreprise,Localisation,Lien,Compétences,mapped_role
0,Junior Data Engineer - Casablanca,Artefact,Casablanca,https://ma.linkedin.com/jobs/view/junior-data-...,"agile, airflow, aws, azure, beam, bigquery, ci...",data engineer
1,Data Engineer (H/F),Smile,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"airflow, python, snowflake, sql",data engineer
2,Data Engineer,Artefact,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"agile, airflow, aws, azure, beam, bigquery, ci...",data engineer
3,DATA ENGINEER (H/F),Groupe INTM,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"docker, gcp, kafka, kubernetes, looker, python...",data engineer
4,Data engineer,SII Group Morocco,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"airflow, power bi, spark",data engineer

In [16]:
df_linkedin.shape

(421, 6)

In [17]:
df_linkedin.nunique()

Titre           307
Entreprise      138
Localisation     15
Lien            421
Compétences     239
mapped_role       6
dtype: int64

In [18]:
df_linkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Titre         421 non-null    string
 1   Entreprise    421 non-null    string
 2   Localisation  421 non-null    string
 3   Lien          421 non-null    string
 4   Compétences   363 non-null    string
 5   mapped_role   421 non-null    object
dtypes: object(1), string(5)
memory usage: 19.9+ KB

In [19]:
df_linkedin['mapped_role'].value_counts()

mapped_role
autre                175
web developer         67
data analyst          59
data engineer         54
software engineer     37
data scientist        29
Name: count, dtype: int64

## rekrute.com

In [24]:
import pandas as pd
from cleaner import *

df_rekrute = cleaner("..\offres_rekrute.csv") 
df_rekrute.head()

,Titre,Entreprise,Localisation,Lien,Compétences,mapped_role
0,dataanalystCDD,AXA Services Maroc,Rabat,/offre-emploi-data-analyst-cdd-recrutement-axa...,"python, r, sql",data analyst
1,Stagiaire Businessanalyst(H/F),Groupe Label'Vie - Carrefour,Casablanca,/offre-emploi-stagiaire-business-analyst-hf-re...,excel,data analyst
2,Businessanalystdata– Spécialisation Finance,Inetum,Casablanca,/offre-emploi-business-analyst-data-specialisa...,"azure, power bi",data analyst
3,Businessanalyst,Groupe Label'Vie - Carrefour,Casablanca,/offre-emploi-business-analyst-recrutement-gro...,<NA>,data analyst
4,Stagiairedataanalyst/ Engineer,Orange Business,Rabat,/offre-emploi-stagiaire-data-analyst-engineer-...,"deep learning, docker, excel, git, hadoop, ker...",data analyst

In [25]:
df_rekrute.shape

(73, 6)

In [26]:
df_rekrute.nunique()

Titre           64
Entreprise      20
Localisation     6
Lien            52
Compétences     32
mapped_role      5
dtype: int64

In [28]:
df_rekrute['mapped_role'].value_counts()

mapped_role
autre                34
data analyst         13
data scientist       12
software engineer     9
data engineer         5
Name: count, dtype: int64

In [29]:
df_rekrute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Titre         73 non-null     string
 1   Entreprise    73 non-null     string
 2   Localisation  73 non-null     string
 3   Lien          73 non-null     string
 4   Compétences   55 non-null     string
 5   mapped_role   73 non-null     object
dtypes: object(1), string(5)
memory usage: 3.6+ KB

### concaténer

In [ ]:
df = pd.concat([df_rekrute, df_linkedin], axis=0)

In [ ]:
df.shape

In [ ]:
df['mapped_role'].value_counts()

In [ ]:
df.head()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plt.figure(figsize=(10, 6))

i=1
for role in df['mapped_role'].unique() :
    l = df[df['mapped_role'] == role]['Localisation'].value_counts()
    labels = l.index
    y = l.values
    plt.subplot(2,3,i)
    plt.pie(y,labels=labels,autopct='%1.1f%%')
    plt.title(role,color='red')
    i=i+1

plt.show

In [ ]:
from wordcloud import WordCloud

# Join all text from the column into one string
text = ",".join(df[df['mapped_role'] == 'data scientist']['Compétences'].astype(str))

# Create and display
wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear') # With 'bilinear' edges and curves look smooth
plt.axis("off")
plt.show()