In [1]:
from functions import cleaner
import pandas as pd
import numpy as np

df = pd.read_csv("../offres_linkedin.csv")
df = cleaner(df)
df.head()

,Titre,Entreprise,Localisation,Lien,Compétences,Date,mapped_role
0,Junior Data Engineer - Casablanca,Artefact,Casablanca,https://ma.linkedin.com/jobs/view/junior-data-...,"agile, airflow, aws, azure, beam, bigquery, ci...",2025-07-31,data engineer
1,Data Engineer (H/F),Smile,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"airflow, python, snowflake, sql",2025-07-31,data engineer
2,Data Engineer (ETL for Power BI),DXC Technology Morocco,Rabat,https://ma.linkedin.com/jobs/view/data-enginee...,"etl, excel, power bi, sql",2025-08-12,data engineer
3,Data Engineer,Artefact,Casablanca,https://ma.linkedin.com/jobs/view/data-enginee...,"agile, airflow, aws, azure, beam, bigquery, ci...",2025-08-01,data engineer
4,Data Engineer,UM6P - University Mohammed VI Polytechnic,Rabat,https://ma.linkedin.com/jobs/view/data-enginee...,"aws, azure, etl, google cloud, java, kafka, po...",2025-08-11,data engineer

In [2]:
df.shape

(167, 7)

In [3]:
df['mapped_role'].value_counts()

mapped_role
web developer        48
data engineer        39
data analyst         34
software engineer    29
data scientist       17
Name: count, dtype: int64